@import "bootstrap";
@import "fontawesome-4.7";

body {
    background-color: white;
}

.table-bordered {

}

caption {
    text-align: center;
}

.fa-star-o {
    color: goldenrod;
}

.bg-blue {
    background-color: #2771A5;
}

.marge {
    margin: 0.5rem;
}

.padd {
    padding: 1rem 2rem;
}